html,
body {
    height: 100%;
    margin: 0;
}
.container {
    min-height: 100hv;
    height: 100%;
    margin: 0;
    padding: 0;
    background:rgb(20, 145, 207);
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
}


